<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Video</title>
</head>
<body>
    <form method="POST" action="<%=locals.url%>/prepare/main" id="generator" enctype="multipart/form-data">
        <label for="Main">Main</label>
        <input type="file" name="file" accept="audio/*" required>
        <input type="submit" value="Save File">
    </form>
    <form method="POST" action="<%=locals.url%>/prepare/second" id="generator" enctype="multipart/form-data">
        <label for="Second">Second</label>
        <input type="file" name="file" accept="audio/*" required>
        <input type="submit" value="Save File">
    </form>
    <form method="POST" action="<%=locals.url%>/prepare/background" id="generator" enctype="multipart/form-data">
        <label for="background">background</label>
        <input type="file" name="file" accept="image/*, video/*" required>
        <input type="submit" value="Save File">
    </form>
    <form action="<%=locals.url%>/generate" method="POST">
    <input type="submit" value="Generate">
    </form>
    <!-- <script>
        const form = document.getElementById('generator')

        const sendFiles = async () => {
            // Object 
            const audioMain = document.getElementById('mainaudio').files
            const audioSec = document.getElementById('secaudio').files
            const bg = document.getElementById('bg').files
            const myFiles = {
                "audioMain" : audioMain,
                "audioSec" : audioSec,
                "bg" : bg,
            }
            const formData = new FormData()

            Object.keys(myFiles).forEach(key => {
                console.log(key.iteam)
                // formData.append(myFiles.item(key).name, myFiles.item(key))
            })

            const response = await fetch('http://localhost:3000<%=locals.url%>', {
                method: 'POST',
                body: formData
            })

            const json = await response.json()

            // const h2 = document.querySelector('h2')
            // h2.textContent = `Status: ${json?.status}`

            // const h3 = document.querySelector('h3')
            // h3.textContent = json?.message

            console.log(json)
        }

        form.addEventListener('submit', (e) => {
            e.preventDefault()
            sendFiles()
        })
    </script> -->
</body>
</html>